<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" routerLink="/login">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/login">Reestablecer Sesion</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Restablecer<br />Contrasena</h1>
  <form id="form" (ngSubmit)="reestablecer(fReestablecer)" #fReestablecer="ngForm">
    <ion-item class="ion-margin-bottom">
      <ion-input type="email" name="email" placeholder="Correo electronico" required [(ngModel)]="loginUser.email"></ion-input>
    </ion-item>
    <ion-item class="ion-margin-bottom">
      <ion-input type="password" name="pin" placeholder="Pin de 4 digitos" [(ngModel)]="loginUser.pin" required>
      </ion-input>
    </ion-item>
    <ion-button type="submit" shape="round" expand="block">
      Reestrablecer contrasena
    </ion-button>
  </form>
  <ion-row>
    <div id="letras" class="ion-padding">
      No posees cuenta? <a routerLink='/register'>
        Registrate</a>!
    </div>
  </ion-row>
  
      
      
</ion-content>